<div class="container form-container">
    <form class="form-position" [formGroup]="createForm" (ngSubmit)="submit()">
        <div class="mb-3">
            <label for="empid" class="form-label">Employee ID</label>
            <input type="text" class="form-control" id="empid" placeholder="Employee ID" formControlName="empid"
                [ngClass]="{error : getControl('empid')?.touched && getControl('empid')?.errors}">
            <small class="text-danger"
                *ngIf="getControl('empid')?.touched && getControl('empid')?.errors?.['required']">Employee Id is
                required</small>
            <small class="text-danger"
                *ngIf="getControl('empid')?.touched && getControl('empid')?.errors?.['maxlength']">Employee Id cannot be
                more than 5 characters</small>
        </div>

        <div class="mb-3">
            <label for="name" class="form-label">Name</label>
            <input type="text" class="form-control" id="name" placeholder="Name" formControlName="name"
                [ngClass]="{error : getControl('name')?.touched && getControl('name')?.errors}">
            <small class="text-danger"
                *ngIf="getControl('name')?.touched && getControl('name')?.errors?.['required']">Name is required</small>
            <small class="text-danger"
                *ngIf="getControl('name')?.touched && getControl('name')?.errors?.['maxlength']">Max length for the name
                can
                only be 50 characters</small>
            <small class="text-danger"
                *ngIf="getControl('name')?.touched && getControl('name')?.errors?.['pattern']">Invalid name
                pattern</small>
        </div>

        <div class="mb-3">
            <label for="emailAddress" class="form-label">Email</label>
            <input type="email" class="form-control" id="emailAddress" placeholder="Email Address"
                formControlName="emailAddress"
                [ngClass]="{error : getControl('emailAddress')?.touched && getControl('emailAddress')?.errors}">
            <small class="text-danger"
                *ngIf="getControl('emailAddress')?.touched && getControl('emailAddress')?.errors?.['required']">Email is
                required</small>
            <small class="text-danger"
                *ngIf="getControl('emailAddress')?.touched && getControl('emailAddress')?.errors?.['pattern']">Email
                should be of the
                correct
                pattern</small>
        </div>

        <div class="mb-3">
            <label for="dob" class="form-label">Date of birth</label>
            <input type="date" [max]="currentDate" class="form-control" id="dob" placeholder="dob" formControlName="dob"
                [ngClass]="{error : getControl('dob')?.touched && getControl('dob')?.errors}">
            <small class="text-danger" *ngIf="getControl('dob')?.touched && getControl('dob')?.errors?.['required']">
                Date Of Birth
                is
                required</small>
        </div>

        <div class="mb-3">
            <label for="country" class="form-label">Country</label>
            <input list="country" class="form-control" id="country" placeholder="country" formControlName="country"
                [ngClass]="{error : getControl('country')?.touched && getControl('country')?.errors}">
            <datalist id="country">
                <option value="India">
                <option value="USA">
                <option value="UK">
                <option value="Russia">
                <option value="Japan">
                <option value="China">
                <option value="Indonesia">
                <option value="Mozambique">
                <option value="Brazil">
            </datalist>
            <small class="text-danger"
                *ngIf="getControl('country')?.touched && getControl('country')?.errors?.['required']">Country is
                required</small>
            <small class="text-danger"
                *ngIf="getControl('country')?.touched && getControl('country')?.errors?.['pattern']">Invalid country
                pattern</small>
        </div>
        <div class="mb-3">
            <label for="avatar" class="form-label">Avatar</label>
            <input type="tel" class="form-control" id="avatar" placeholder="avatar" formControlName="avatar"
                [ngClass]="{error : getControl('avatar')?.touched && getControl('avatar')?.errors}">
            <small class="text-danger"
                *ngIf="getControl('avatar')?.touched && getControl('avatar')?.errors?.['required']">Avatar is
                required</small>
            <small class="text-danger"
                *ngIf="getControl('avatar')?.touched && getControl('avatar')?.errors?.['pattern']">Invalid avatar
                pattern</small>
        </div>

        <button type="submit" class="btn btn-primary submit-button" [disabled]="!createForm.valid">Submit</button>
        <button type="button" class="btn btn-warning ms-2" (click)="close()">Close</button>
    </form>
</div>